In [1]:
import os
import numpy as np
import pandas as pd
import spotpy
import subprocess

In [2]:
wd = "D:/Projects/Tools/DayCent-CUTE/analysis/model"

In [3]:
os.chdir(wd)

In [4]:
file_nam = "swat.parms.csv"
param_defs = pd.read_csv(file_nam, comment='#', header=0, usecols=[i for i in range(10)])

In [5]:
param_defs

,name,group,absolute_lower,absolute_upper,default_initial,cali_lower,cali_upper,cali_initial,flag,chg_type
0,CN2,mgt,35.00,98,66.500,NaN,NaN,NaN,y,v
1,SOL_AWC(),sol,0.00,1,0.500,NaN,NaN,NaN,y,v
2,ESCO,hru,0.00,1,0.500,NaN,NaN,NaN,y,v
3,HRU_SLP,hru,0.00,1,0.500,NaN,NaN,NaN,y,v
4,OV_N,hru,0.01,30,15.005,NaN,NaN,NaN,y,v
5,SLSUBBSN,hru,10.00,150,80.000,NaN,NaN,NaN,y,v

In [11]:
a

array([(5.27899979e+01, 'CN2',  5.27  , 66.5  , 3.51e+01,  97.8  , False),
       (4.50233397e-01, 'SOL_AWC()',  0.0988,  0.5  , 8.07e-04,   0.999, False),
       (2.77465693e-01, 'ESCO',  0.108 ,  0.5  , 4.02e-04,   0.999, False),
       (2.29281389e-02, 'HRU_SLP',  0.103 ,  0.5  , 6.07e-04,   1.   , False),
       (2.31360175e+00, 'OV_N',  3.2   , 15.005, 4.06e-02,  30.   , False),
       (6.81142367e+01, 'SLSUBBSN', 12.7   , 80.   , 1.05e+01, 150.   , False)],
      dtype=[('random', '<f8'), ('name', '<U100'), ('step', '<f8'), ('optguess', '<f8'), ('minbound', '<f8'), ('maxbound', '<f8'), ('as_int', '?')])

In [27]:

for i in range(len(param_defs)):
    if param_defs.iloc[i, 0] == a[i][1]:
        param_defs.loc[i, 'val'] = a[i][0]
        param_defs.loc[i, 'temp'] = f'{param_defs.loc[i, "chg_type"]}__{param_defs.loc[i, "name"]}.{param_defs.loc[i, "group"]}'

In [28]:
param_defs

,name,group,absolute_lower,absolute_upper,default_initial,cali_lower,cali_upper,cali_initial,flag,chg_type,val,temp
0,CN2,mgt,35.00,98,66.500,NaN,NaN,NaN,y,v,52.789998,v__CN2.mgt
1,SOL_AWC(),sol,0.00,1,0.500,NaN,NaN,NaN,y,v,0.450233,v__SOL_AWC().sol
2,ESCO,hru,0.00,1,0.500,NaN,NaN,NaN,y,v,0.277466,v__ESCO.hru
3,HRU_SLP,hru,0.00,1,0.500,NaN,NaN,NaN,y,v,0.022928,v__HRU_SLP.hru
4,OV_N,hru,0.01,30,15.005,NaN,NaN,NaN,y,v,2.313602,v__OV_N.hru
5,SLSUBBSN,hru,10.00,150,80.000,NaN,NaN,NaN,y,v,68.114237,v__SLSUBBSN.hru

In [35]:
model_in_file = 'model.in2'
# mod_df = pd.read_csv(
#                     model_in_file,
#                     delim_whitespace=True,
#                     header=None, skiprows=0,
#                     names=["parnme", "parval1"])
# mod_df.index = mod_df.parnme
# mod_df.loc[:, "tpl"] = mod_df.parnme.apply(lambda x: " ~   {0:15s}   ~".format(x[3:-4]))
# mod_df.loc[:, "tpl"] = mod_df.parnme.apply(lambda x: " ~   {0:15s}   ~".format(x[3:7]))
with open(model_in_file, 'w') as f:
#     f.write("ptf ~\n")
    # f.write("{0:10d} #NP\n".format(mod_df.shape[0]))
    SFMT = lambda x: "{0:<30s} ".format(str(x))
    eFMT = lambda x: "{0:<20e} ".format(float(x))
    
    f.write(param_defs.loc[:, ["temp", "val"]].to_string(
                                                    col_space=0,
                                                    formatters=[SFMT, eFMT],
                                                    index=False,
                                                    header=False,
                                                    justify="left"))

In [59]:
params = [] # parameters used
for i in range(len(param_defs)):
    params.append(
        spotpy.parameter.Uniform(
            name=param_defs.iloc[i, 0],
            low=param_defs.iloc[i, 2],
            high=param_defs.iloc[i, 3],
            optguess=np.mean([param_defs.iloc[i, 2], param_defs.iloc[i, 3]])))

In [72]:
for idx, param_string in enumerate(params):
    print(param_string.name.split("__")[0])

CN2
SOL_AWC()
ESCO
HRU_SLP
OV_N
SLSUBBSN

In [ ]:
for idx, param_string in enumerate(swat_parms):
    print(param_string.name.split("__")[0])

In [67]:
field_list = param_string.name.split("__")
# how = field_list[0]
# param_field = field_list[1]
# manip_ext = field_list[2]
# if len(field_list) > 3:
#     hydrp = field_list[3]
# if len(field_list) > 4:
#     soltext = field_list[4]
# if len(field_list) > 5:
#     landuse = field_list[5]
# if len(field_list) > 6:
#     subbsn = field_list[6]
# if len(field_list) > 7:
#     slope = field_list[7]

In [69]:
field_list[0]

'SLSUBBSN'

In [36]:
# os.startfile(File_Physical)
p = subprocess.Popen('Swat_Edit.exe',
#                      cwd = output_dir
                    ) # cwd -> current working directory    
p.wait()  ## following line to wait till running is finished.

0

In [38]:
cali_start_day = '1/1/1993'
cali_end_day = '12/31/1993'

col_name = 'cha_058'
stf_obd = pd.read_csv(
                    'stf_day.obd',
                    sep='\t',
                    usecols=['date', col_name],
                    index_col=0,
                    parse_dates=True,
                    na_values=[-999, '']
                    )
stf_obd = stf_obd[cali_start_day:cali_end_day]

In [39]:
stf_obd

            cha_058
date
1993-01-01     2.07
1993-01-02     2.15
1993-01-03     2.15
1993-01-04     2.22
1993-01-05     3.83
...             ...
1993-12-27     0.39
1993-12-28     0.36
1993-12-29     0.36
1993-12-30     0.36
1993-12-31     0.34

[365 rows x 1 columns]

In [40]:
# NOTE: temp inputs
start_day = '1/1/1993'
warmup = 0
cali_start_day = '1/1/1993'
cali_end_day = '12/31/1993'
channels = [58]

rch_file = 'output.rch'
for i in channels:
    sim_stf = pd.read_csv(
                    rch_file,
                    delim_whitespace=True,
                    skiprows=9,
                    usecols=[1, 3, 6],
                    names=["date", "filter", "stf_sim"],
                    index_col=0)

    sim_stf_f = sim_stf.loc[i]
    sim_stf_f = sim_stf_f.drop(['filter'], axis=1)
    sim_stf_f.index = pd.date_range(start_day, periods=len(sim_stf_f.stf_sim))
    sim_stf_f = sim_stf_f[cali_start_day:cali_end_day]
    sim_stf_f.to_csv('stf_{:03d}.txt'.format(i), sep='\t', encoding='utf-8', index=True, header=False, float_format='%.7e')
    print('stf_{:03d}.txt file has been created...'.format(i))

stf_058.txt file has been created...

In [54]:
sim_stf_f.iloc[:,0].tolist()

[0.0,
 0.0,
 0.0,
 0.0,
 0.01421,
 0.02394,
 0.02724,
 0.02756,
 0.4221,
 0.6853,
 1.234,
 1.377,
 1.774,
 1.514,
 2.127,
 1.672,
 2.364,
 2.011,
 2.695,
 2.27,
 2.465,
 2.329,
 2.445,
 2.486,
 2.526,
 2.638,
 2.77,
 2.736,
 3.173,
 3.06,
 3.011,
 2.97,
 2.855,
 2.816,
 3.372,
 3.35,
 3.264,
 3.188,
 3.192,
 3.122,
 3.344,
 3.269,
 3.249,
 3.225,
 3.197,
 3.334,
 3.271,
 3.279,
 3.202,
 3.288,
 3.132,
 2.953,
 3.004,
 3.194,
 2.877,
 3.393,
 3.327,
 3.26,
 3.313,
 3.357,
 3.351,
 3.169,
 3.073,
 2.926,
 2.902,
 2.814,
 2.695,
 2.823,
 2.707,
 2.517,
 3.422,
 3.279,
 3.191,
 2.987,
 3.294,
 2.992,
 2.541,
 2.585,
 3.413,
 3.23,
 3.295,
 3.141,
 3.008,
 2.821,
 2.596,
 2.688,
 2.454,
 2.429,
 3.019,
 2.4,
 2.505,
 2.43,
 2.252,
 3.129,
 2.874,
 2.708,
 3.289,
 3.187,
 3.073,
 2.89,
 2.65,
 2.501,
 2.107,
 3.223,
 3.135,
 2.979,
 2.795,
 3.102,
 2.566,
 3.097,
 2.587,
 2.378,
 2.039,
 1.959,
 1.734,
 2.018,
 2.179,
 1.814,
 2.984,
 2.547,
 2.913,
 3.046,
 2.837,
 2.787,
 2.539,
 3.053,
 2.733,
 2.608,
 2.817,
 2.365,
 2.31,
 1.998,
 2.336,
 2.012,
 2.139,
 1.922,
 1.558,
 2.742,
 1.937,
 2.325,
 1.928,
 2.045,
 2.471,
 2.709,
 2.046,
 1.682,
 2.012,
 1.638,
 2.558,
 1.95,
 1.683,
 1.643,
 1.625,
 1.574,
 1.685,
 1.148,
 1.561,
 1.237,
 1.495,
 1.126,
 2.216,
 1.667,
 2.196,
 1.729,
 1.737,
 1.42,
 1.457,
 1.23,
 2.283,
 1.67,
 2.328,
 2.295,
 2.491,
 2.205,
 1.903,
 2.427,
 2.628,
 2.233,
 1.924,
 1.747,
 1.55,
 1.902,
 1.731,
 1.868,
 1.638,
 1.449,
 1.359,
 1.269,
 1.272,
 0.7787,
 1.401,
 0.9439,
 1.406,
 1.121,
 1.473,
 1.028,
 1.39,
 1.007,
 1.25,
 1.177,
 1.146,
 1.222,
 1.335,
 0.9749,
 1.189,
 0.9038,
 1.23,
 1.148,
 0.9874,
 0.9241,
 0.7345,
 0.9267,
 1.136,
 0.9327,
 0.9771,
 1.472,
 0.5032,
 1.25,
 0.7388,
 1.015,
 0.5937,
 1.098,
 0.2603,
 0.9298,
 0.8443,
 0.6853,
 0.786,
 0.5632,
 1.033,
 0.5784,
 0.6702,
 0.8744,
 0.8659,
 0.3669,
 0.549,
 0.6204,
 0.7513,
 0.5638,
 0.6768,
 0.8124,
 0.8391,
 0.9674,
 1.482,
 0.5028,
 1.019,
 0.6209,
 1.123,
 0.5042,
 1.137,
 0.3606,
 1.004,
 0.5885,
 1.085,
 0.4593,
 0.7063,
 1.448,
 1.86,
 1.525,
 1.477,
 1.199,
 1.427,
 1.184,
 1.189,
 1.176,
 1.134,
 1.117,
 0.9291,
 0.952,
 1.947,
 1.475,
 1.505,
 0.9868,
 1.261,
 1.112,
 1.294,
 1.352,
 1.776,
 1.588,
 1.385,
 1.393,
 1.212,
 1.388,
 1.229,
 1.525,
 1.246,
 1.991,
 1.688,
 1.522,
 1.431,
 1.563,
 1.572,
 1.668,
 2.015,
 1.853,
 1.676,
 1.482,
 1.533,
 1.408,
 1.576,
 1.513,
 1.327,
 1.421,
 1.813,
 1.707,
 1.541,
 1.862,
 1.892,
 1.621,
 1.655,
 1.586,
 1.692,
 1.506,
 1.77,
 1.509,
 1.586,
 1.865,
 1.651,
 1.838,
 1.564,
 1.908,
 1.911,
 1.748,
 1.679,
 1.727,
 1.748,
 1.649,
 1.593,
 1.466,
 1.536,
 1.938,
 1.704,
 1.601,
 1.685,
 1.57,
 1.744,
 1.444,
 1.931,
 1.753,
 1.79,
 1.801,
 1.713,
 1.57,
 1.644,
 1.8,
 1.695,
 1.65,
 1.958,
 1.734,
 1.828,
 1.768,
 1.613,
 1.924,
 1.708,
 1.723,
 1.829,
 2.021,
 1.896,
 1.833,
 1.822,
 1.714,
 1.749,
 1.527,
 1.761,
 1.624,
 1.352]

In [48]:
evaluation = [1,1,1,2,2,1,2]
simulation = [1,0.1,1,2,2,1,2]

In [49]:
objectivefunction = spotpy.objectivefunctions.nashsutcliffe(
    evaluation, simulation
)

In [50]:
objectivefunction

0.5275

In [36]:
print("updating SWAT parameters")
# des = "modifying SWAT parameters"
# time_stamp(des)
os.system('Swat_Edit.exe')
print("done")

updating SWAT parameters
done

In [48]:
np.shape(spotpy.parameter.generate(params))

(6,)

In [51]:
a = spotpy.parameter.generate(params)

In [52]:
a

array([( 38.06286154, 'CN2',  5.27  , 66.5  , 3.51e+01,  97.8  , False),
       (  0.36941528, 'SOL_AWC()',  0.0988,  0.5  , 8.07e-04,   0.999, False),
       (  0.66469183, 'ESCO',  0.108 ,  0.5  , 4.02e-04,   0.999, False),
       (  0.97739543, 'HRU_SLP',  0.103 ,  0.5  , 6.07e-04,   1.   , False),
       ( 17.59314215, 'OV_N',  3.2   , 15.005, 4.06e-02,  30.   , False),
       (134.33392515, 'SLSUBBSN', 12.7   , 80.   , 1.05e+01, 150.   , False)],
      dtype=[('random', '<f8'), ('name', '<U100'), ('step', '<f8'), ('optguess', '<f8'), ('minbound', '<f8'), ('maxbound', '<f8'), ('as_int', '?')])

In [52]:
b = spotpy.parameter.generate(params)

In [76]:
b[0]

(95.40043134, 'CN2', 5.72, 66.5, 35.1, 98., False)

In [64]:
def test():
    return spotpy.parameter.generate(params)

In [70]:
test()

array([(90.51264829, 'CN2',  5.72  , 66.5  , 3.51e+01,  98., False),
       ( 0.16100691, 'SOL_AWC()',  0.106 ,  0.5  , 3.03e-04,   1., False),
       ( 0.26346967, 'ESCO',  0.0781,  0.5  , 1.52e-03,   1., False),
       ( 0.97630374, 'HRU_SLP',  0.0802,  0.5  , 1.60e-04,   1., False),
       (12.10388726, 'OV_N',  2.97  , 15.005, 4.74e-02,  30., False),
       (45.1660481 , 'SLSUBBSN', 12.9   , 80.   , 1.03e+01, 150., False)],
      dtype=[('random', '<f8'), ('name', '<U100'), ('step', '<f8'), ('optguess', '<f8'), ('minbound', '<f8'), ('maxbound', '<f8'), ('as_int', '?')])

In [57]:
file_nam = "swat.parms.csv"
swat_parm_df = pd.read_csv(file_nam, comment='#', header=0)

In [58]:
swat_parm_df

,name,group,absolute_lower,absolute_upper,default_initial,cali_lower,cali_upper,cali_initial,flag,chg_type,decription
0,CN2,mgt,35.00,98,66.500,NaN,NaN,NaN,y,v,SCS runoff curve number f
1,SOL_AWC(),sol,0.00,1,0.500,NaN,NaN,NaN,y,v,Available water capacity of the soil layer.
2,ESCO,hru,0.00,1,0.500,NaN,NaN,NaN,y,v,soil evaporation compensation factor.
3,HRU_SLP,hru,0.00,1,0.500,NaN,NaN,NaN,y,v,Average slope steepness
4,OV_N,hru,0.01,30,15.005,NaN,NaN,NaN,y,v,"Manning's ""n"" value for overland flow."
5,SLSUBBSN,hru,10.00,150,80.000,NaN,NaN,NaN,y,v,Average slope length.