In [1]:
import pandas as pd
import os

In [2]:
wd = "d:\\Projects\\Tools\\DayCent-CUTE\\tools\\test01\\dream_main"

In [9]:
fix_pars_dict = {}

In [16]:
df = pd.read_csv(os.path.join(wd, 'dc.parms.csv'))
df

            name  select  default     min     max
0      ANEREF(2)       1    3.000   2.800    5.00
1      ANEREF(3)       1    1.000   0.200    1.10
2      DAMR(1_1)       1    0.200   0.002    0.30
3        DEC1(1)       1    3.900   3.000    5.00
4        DEC1(2)       1    4.900   3.000    7.00
5        DEC2(1)       1   14.800  12.000   18.00
6        DEC3(2)       1    7.300   5.000   10.00
7      FAVAIL(1)       1    0.150   0.100    0.50
8      P1CO2B(2)       1    0.680   0.550    0.74
9       P2CO2(2)       1    0.550   0.500    0.80
10         P3CO2       1    0.550   0.500    0.90
11        PABRES       1  100.000  70.000  200.00
12        PEFTXA       1    0.200   0.100    0.70
13        PEFTXB       1    0.400   0.200    1.50
14      PMCO2(2)       1    0.550   0.350    0.70
15     PS1CO2(2)       1    0.550   0.400    0.80
16      PS1S3(2)       1    0.032   0.020    0.06
17     RCESTR(1)       1  100.000  50.000  300.00
18  VARAT11(1_1)       1   15.000  12.000   17.00

In [43]:
df.loc[df['name'] == "ANEREF(2)", "max"].tolist()[0]

5.0

In [ ]:
df = pd.DataFrame()

In [65]:
with open(os.path.join(wd, 'fix.100'), "r") as f:
    updated = []
    for line in f.readlines():
        parnam = line.split()[1].strip().replace("'", "").replace(",", "_")
        if (parnam in df.loc[:, "name"].tolist()):
            new_val = df.loc[df['name'] == parnam, "max"].tolist()[0]
            new_line = f"{new_val:<14.4f}{line.split()[1].strip()}\n"
            updated.append(new_line)
        else:
            updated.append(line)
            
with open(os.path.join(wd, 'fix.100'), "w") as wf:
    wf.writelines(updated)

In [60]:
updated

['X     Fixed_values   Aug 2015 Inventory 2014 format satdec with optional parameters\n',
 "10.000        'ADEP(1)'   #  10\n",
 "20.000        'ADEP(2)'   #  30\n",
 "15.000        'ADEP(3)'   #  45\n",
 "15.000        'ADEP(4)'   #  60\n",
 "30.000        'ADEP(5)'   #  90\n",
 "30.000        'ADEP(6)'   # 120\n",
 "30.000        'ADEP(7)'   # 150\n",
 "30.000        'ADEP(8)'   # 180\n",
 "30.000        'ADEP(9)'   # 210\n",
 "30.000        'ADEP(10)'  # 250\n",
 "-40.00        'AGPPA'\n",
 "7.7000        'AGPPB'\n",
 "1.5000        'ANEREF(1)'\n",
 "5.0000        'ANEREF(2)'\n",
 "1.1000        'ANEREF(3)'\n",
 "5.0000        'ANIMPT'\n",
 "0.8000        'AWTL(1)'\n",
 "0.6000        'AWTL(2)'\n",
 "0.4000        'AWTL(3)'\n",
 "0.3000        'AWTL(4)'\n",
 "0.2000        'AWTL(5)'\n",
 "0.2000        'AWTL(6)'\n",
 "0.2000        'AWTL(7)'\n",
 "0.2000        'AWTL(8)'\n",
 "0.0000        'AWTL(9)'\n",
 "0.0000        'AWTL(10)'\n",
 "100.00        'BGPPA'\n",
 "7.0000        'BGPPB'\n",
 "350.00        'CO2PPM(1)'\n",
 "700.00        'CO2PPM(2)'\n",
 "1.0000        'CO2RMP'\n",
 "0.3000        'DAMR(1,1)'\n",
 "0.0000        'DAMR(1,2)'\n",
 "0.0100        'DAMR(1,3)'\n",
 "0.0200        'DAMR(2,1)'\n",
 "0.0200        'DAMR(2,2)'\n",
 "0.0400        'DAMR(2,3)'\n",
 "15.000        'DAMRMN(1)'  #Minimum C/N ratio allowed in residue after direct absorption\n",
 "150.00        'DAMRMN(2)'\n",
 "150.00        'DAMRMN(3)'\n",
 "5.0000        'DEC1(1)'\n",
 "7.0000        'DEC1(2)'\n",
 "18.0000       'DEC2(1)'\n",
 "18.500        'DEC2(2)'\n",
 "6.0000        'DEC3(1)'\n",
 "10.0000       'DEC3(2)'\n",
 "0.0022        'DEC4'     # maximum decomposition rate of passive pool \n",
 "0.10          'DEC5(1)'  #\n",
 "0.12          'DEC5(2)' # Bill says try reducing 0.15 to 0.12  24Jan\n",
 "5.0           'DECK5'\n",
 "-4.0          'DLIGDF'\n",
 "0.999         'DRESP'\n",
 "0.2           'EDEPTH'\n",
 "0.4           'ELITST'\n",
 "2.0           'ENRICH'\n",
 "0.5000        'FAVAIL(1)'\n",
 "0.5000        'FAVAIL(3)'\n",
 "0.2000        'FAVAIL(4)'\n",
 "0.4000        'FAVAIL(5)'\n",
 "2.0000        'FAVAIL(6)'\n",
 "0.50          'FLEACH(1)' # improve estimate NO3 leaching Delgrosso 24Jan  Bill 0.2\n",
 "0.50          'FLEACH(2)' # improve estimate NO3 leaching Delgrosso 24Jan  Bill 0.7\n",
 "1.00          'FLEACH(3)'\n",
 "0.00          'FLEACH(4)'\n",
 "0.10          'FLEACH(5)'\n",
 "1.0000        'FWLOSS(1)'  # Scaling factor for interception and evaporation of precipitation by live and standing dead biomass\n",
 "1.0000        'FWLOSS(2)'\n",
 "1.0000        'FWLOSS(3)'\n",
 "0.7500        'FWLOSS(4)'\n",
 "-0.125        'FXMCA'\n",
 "0.0050        'FXMCB'\n",
 "0.3500        'FXMXS'\n",
 "7.0000        'FXNPB'\n",
 "0.0000        'GREMB'\n",
 "1.0000        'IDEF'\n",
 "0.2000        'LHZF(1)'\n",
 "0.4000        'LHZF(2)'\n",
 "0.8000        'LHZF(3)'\n",
 "2.4000        'MINLCH'\n",
 "0.0000        'NSNFIX'\n",
 "1.0000        'NTSPM'\n",
 "0.0300        'OMLECH(1)'  # Intercept for the effect of sand on leaching of organic compounds\n",
 "0.1200        'OMLECH(2)'  # Slope for the effect of sand on leaching of organic compounds\n",
 "1.9000        'OMLECH(3)'  # The amount of water that needs to flow out of water layer 2 to leach organic C at the maximum rate\n",
 "0.6000        'P1CO2A(1)'\n",
 "0.1700        'P1CO2A(2)'  # intercept for sand controlling C loss as CO2 during decomposition from active pool  \n",
 "0.0000        'P1CO2B(1)'\n",
 "0.7400        'P1CO2B(2)'\n",
 "0.5500        'P2CO2(1)'\n",
 "0.8000        'P2CO2(2)'\n",
 "0.9000        'P3CO2'\n",
 "200.0000      'PABRES'\n",
 "0.7000        'PEFTXA'\n",
 "1.5000        'PEFTXB'\n",
 "6.0000        'PHESP(1)'\n",
 "0.0008        'PHESP(2)'\n",
 "7.6000        'PHESP(3)'\n",
 "0.0150        'PHESP(4)'\n",
 "3.0000        'PLIGST(1)'\n",
 "3.0000        'PLIGST(2)'\n",
 "0.5500        'PMCO2(1)'\n",
 "0.7000        'PMCO2(2)'\n",
 "0.0000        'PMNSEC(1)'\n",
 "0.0000        'PMNSEC(2)'\n",
 "2.0000        'PMNSEC(3)'\n",
 "0.0040        'PMNTMP'\n",
 "600.00        'PMXBIO'\n",
 "-0.0035       'PMXTMP'\n",
 "0.00000       'PPARMN(1)'\n",
 "0.00010       'PPARMN(2)'\n",
 "0.00050       'PPARMN(3)'\n",
 "0.0000        'PPRPTS(1)'\n",
 "1.0000        'PPRPTS(2)'\n",
 "0.8000        'PPRPTS(3)'\n",
 "0.4500        'PS1CO2(1)'\n",
 "0.8000        'PS1CO2(2)'\n",
 "0.0030        'PS1S3(1)'  # intercept for clay effect on C transfer efficiency from active to passive pool during decomposition\n",
 "0.0600        'PS1S3(2)'\n",
 "0.0030        'PS2S3(1)'  # intercept for clay effect on C transfer efficiency from slow to passive pool during decomposition\n",
 "0.0090        'PS2S3(2)'  # slope for clay effect on C transfer efficiency during decomposition from slow to passive pool\n",
 "0.0000        'PSECMN(1)'\n",
 "0.0022        'PSECMN(2)'\n",
 "0.2000        'PSECMN(3)'\n",
 "0.0000        'PSECOC1'\n",
 "0.0000        'PSECOC2'\n",
 "12.000        'RAD1P(1,1)'\n",
 "3.0000        'RAD1P(2,1)'\n",
 "5.0000        'RAD1P(3,1)'\n",
 "220.00        'RAD1P(1,2)'\n",
 "5.0000        'RAD1P(2,2)'\n",
 "100.00        'RAD1P(3,2)'\n",
 "220.00        'RAD1P(1,3)'\n",
 "5.0000        'RAD1P(2,3)'\n",
 "100.00        'RAD1P(3,3)'\n",
 "300.0000      'RCESTR(1)'\n",
 "500.00        'RCESTR(2)'\n",
 "500.00        'RCESTR(3)'\n",
 "0.0150        'RICTRL'\n",
 "0.8000        'RIINT'\n",
 "0.3000        'RSPLIG'\n",
 "-1.000        'SEED'\n",
 "0.8500        'SPL(1)'\n",
 "0.0130        'SPL(2)'\n",
 "5000.0        'STRMAX(1)'\n",
 "5000.0        'STRMAX(2)'\n",
 "1.0000        'TEXEPP(1)'\n",
 "0.7000        'TEXEPP(2)'\n",
 "0.00010       'TEXEPP(3)'\n",
 "0.00016       'TEXEPP(4)'\n",
 "2.0000        'TEXEPP(5)'\n",
 "1.0000        'TEXESP(1)'\n",
 "0.0040        'TEXESP(3)'\n",
 "15.400        'TEFF(1)'                # temperature (degree C) at the inflection point for the temperature effect on decomposition  \n",
 "11.750        'TEFF(2)'                # slope of line at inflection point       \n",
 "29.700        'TEFF(3)'\n",
 "0.0310        'TEFF(4)'\n",
 "0.0000        'TMELT(1)'\n",
 "0.0020        'TMELT(2)'\n",
 "17.0000       'VARAT11(1,1)'\n",
 "6.0000        'VARAT11(2,1)'\n",
 "1.0000        'VARAT11(3,1)'\n",
 "150.00        'VARAT11(1,2)'\n",
 "30.000        'VARAT11(2,2)'\n",
 "2.0000        'VARAT11(3,2)'\n",
 "200.00        'VARAT11(1,3)'\n",
 "50.000        'VARAT11(2,3)'\n",
 "2.0000        'VARAT11(3,3)'\n",
 "14.000        'VARAT12(1,1)'\n",
 "3.0000        'VARAT12(2,1)'\n",
 "2.0000        'VARAT12(3,1)'\n",
 "150.00        'VARAT12(1,2)'\n",
 "30.000        'VARAT12(2,2)'\n",
 "2.0000        'VARAT12(3,2)'\n",
 "200.00        'VARAT12(1,3)'\n",
 "50.000        'VARAT12(2,3)'\n",
 "2.0000        'VARAT12(3,3)'\n",
 "20.000        'VARAT21(1,1)'\n",
 "12.000        'VARAT21(2,1)'\n",
 "1.0000        'VARAT21(3,1)'\n",
 "30.000        'VARAT21(1,2)'\n",
 "100.00        'VARAT21(2,2)'\n",
 "2.0000        'VARAT21(3,2)'\n",
 "400.00        'VARAT21(1,3)'\n",
 "100.00        'VARAT21(2,3)'\n",
 "2.0000        'VARAT21(3,3)'\n",
 "20.000        'VARAT22(1,1)'\n",
 "12.000        'VARAT22(2,1)'\n",
 "2.0000        'VARAT22(3,1)'\n",
 "400.00        'VARAT22(1,2)'\n",
 "100.00        'VARAT22(2,2)'\n",
 "2.0000        'VARAT22(3,2)'\n",
 "400.00        'VARAT22(1,3)'\n",
 "100.00        'VARAT22(2,3)'\n",
 "2.0000        'VARAT22(3,3)'\n",
 "8.0000        'VARAT3(1,1)'\n",
 "6.0000        'VARAT3(2,1)'\n",
 "2.0000        'VARAT3(3,1)'\n",
 "200.00        'VARAT3(1,2)'\n",
 "50.000        'VARAT3(2,2)'\n",
 "2.0000        'VARAT3(3,2)'\n",
 "200.00        'VARAT3(1,3)'\n",
 "50.000        'VARAT3(2,3)'\n",
 "2.0000        'VARAT3(3,3)'\n",
 "0.0000        'VLOSSE'\n",
 "0.0000        'VLOSSG'\n",
 '# optional parameters\n',
 '0.1645         XEFCLTEF    # months, days=x*30.4375 shorten from a week, ~0.25 m, or 7.6 days, to 5 days (was 0.1645)\n',
 '10.53          MAXCLTEF    # 100% mixing  K is 95% mixing;  Century4 was 5.74\n',
 '# nitrification/denitrification function defaults\n',
 '# optional parameters\n',
 '#   cNsoilt(1:4) =(35.1, -5.1, 4.51, 7.1)           use default temperature effect parameters\n',
 '#   cNph(1:4)    =(5.1, 0.561, 1.1, 0.461)          use default ph parameters\n',
 '#   cNwfps(1:2)  =(30.1, -9.1)                      use default Water Filled Pore Space exponential\n',
 '#   cDno3(1:4)   =(9.231, 1.5561, 76.911, 0.002221) use default Nitrate effect on Denitrification\n',
 '# Methane parameters\n',
 ' -1            FLDN2D      # FLooDed N2/N2O ratio Delay\n',
 ' 100.0         FLN2OR      # flood_N2toN2O  # N2/N2O ratio for flooded state (100.0) (-1 disable)\n',
 ' 0.50          CO2CH4      # fraction of CO2 from soil respiration used to produce CH4 (.15)\n',
 ' 0.65          MXCH4F      # MaXimum CH4 Fraction (.55)\n',
 ' 0.55          FREXUD      # FRaction EXUDates; root production fraction released as exudate (.45)\n',
 ' 0.23          AEH         # differential coefficient (Aeh)\n',
 ' 0.16          DEH         # differential coefficient (Deh)\n',
 '-250.          BEHFL       # low-limit value for Eh during flooding course (mv)\n',
 ' 300.          BEHDR       # upper-limit value of Eh during drainage course (mv)\n',
 ' 0.7           METHZR      # fraction CH4 emitted via bubbles with zero root biomass (0.0-1.0)\n']

In [28]:
df.loc[:, "name"]

0        ANEREF(2)
1        ANEREF(3)
2        DAMR(1_1)
3          DEC1(1)
4          DEC1(2)
5          DEC2(1)
6          DEC3(2)
7        FAVAIL(1)
8        P1CO2B(2)
9         P2CO2(2)
10           P3CO2
11          PABRES
12          PEFTXA
13          PEFTXB
14        PMCO2(2)
15       PS1CO2(2)
16        PS1S3(2)
17       RCESTR(1)
18    VARAT11(1_1)
Name: name, dtype: object

In [91]:
outf = "wooster_ccc_nt.lis"

In [92]:
df = pd.read_csv(os.path.join(wd, outf), sep=r'\s+', skiprows=1)

In [93]:
len(df)

681

In [103]:
df_sel = df.loc[(df['time']>=1971) & (df['time']<1993)]

In [104]:
df_sel.index = pd.date_range(start='1/1/1971', periods=len(df_sel), freq='M')

In [113]:
dfa = df_sel.resample('A').mean()

C:\Users\seonggyu.park\AppData\Local\Temp\ipykernel_23064\880295508.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfa = df_sel.resample('A').mean()

In [115]:
dfa.index = dfa.index.year

In [88]:
dc_parms.loc[dc_parms['name'] == parnam, "max"].tolist()[0]

NameError: name 'dc_parms' is not defined

In [116]:
dfa

             time        somsc        somtc
1971  1971.458333  3383.635083  3473.799250
1972  1972.458333  3434.769083  3533.646167
1973  1973.458333  3484.499250  3568.571250
1974  1974.458333  3534.091917  3625.368417
1975  1975.458333  3580.287000  3672.121667
1976  1976.458333  3630.823583  3715.737917
1977  1977.458333  3666.089333  3757.313333
1978  1978.458333  3701.263917  3797.678500
1979  1979.458333  3741.153750  3828.160250
1980  1980.458333  3768.463667  3864.252417
1981  1981.458333  3776.991083  3851.318333
1982  1982.458333  3769.451750  3829.516583
1983  1983.458333  3753.546750  3811.049250
1984  1984.458333  3733.415333  3784.730833
1985  1985.458333  3727.752000  3807.119417
1986  1986.458333  3730.323083  3803.677250
1987  1987.458333  3748.789417  3841.485000
1988  1988.458333  3783.315083  3883.795417
1989  1989.458333  3807.837583  3889.759000
1990  1990.458333  3831.915417  3939.329500
1991  1991.458333  3853.031833  3949.839083
1992  1992.458333  3884.476333  3980.342083

In [121]:
# obd
obd = "soc_wooster_ccc_ct.csv"
obd_df = pd.read_csv(os.path.join(wd, obd)).set_index('Year')

In [125]:
tot_obd = obd_df.iloc[:, 0].tolist() + obd_df.iloc[:, 1].tolist()
tot_obd

[3962, 3293, 4163, 3493, 2805, 3210]